body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
#audioDropZone {
    min-height: 50px;
}
.drop-zone {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ccc;
    cursor: pointer;
    padding: 10px;
    position: relative;
}
.drop-zone.dragover {
    border-color: #3c85ff;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.image-wrapper {
    position: relative;
    display: inline-block;
    cursor: move;
}
.image-wrapper img {
    max-width: 80px;
    max-height: 80px;
    margin: 5px;
    border-radius: 5px;
}
.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.remove-btn img {
    width: 20px;
    height: 20px;
}