body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
#audioDropZone {
    min-height: 50px;
}
.drop-zone {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ccc;
    cursor: pointer;
    padding: 10px;
    position: relative;
}
.drop-zone.dragover {
    border-color: #3c85ff;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.image-wrapper {
    position: relative;
    display: inline-block;
    cursor: move;
}
.image-wrapper img {
    max-width: 80px;
    max-height: 80px;
    margin: 5px;
    border-radius: 5px;
}
.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.remove-btn img {
    width: 20px;
    height: 20px;
}
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    margin-top: 20px;
}
#image-container {
    display: none;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}
#progress-container {
    display: none;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
}

.button-container {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#multiSliderContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color: yellow;
}

#multiSliderBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 20px;
    margin-top: 20px;
    background-color: rgb(58, 58, 58); 
    align-items: center;
}

.slider {
    position: absolute;
    width: 100%;
    opacity: 0; 
    pointer-events: none; 
}

.marker {
    position: absolute;
    top: -40px;
    width: 20px; 
    height: 20px; 
    background-image: url('marker.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer; 
}